h1 {
  color: orange; }

header {
  background-color: beige;
  font-size: 20px;
  display: grid;
  grid-template-areas: "logo" "nav";
  grid-template-columns: 30% 70%;
  grid-template-rows: auto; }
  header div {
    padding: 10px;
    grid-area: logo; }
    header div h3 {
      font-size: 30px; }
  header nav {
    grid-area: nav; }

ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-left: 40px; }
  ul:hover {
    color: orange; }

li {
  list-style-type: disc; }

a {
  text-decoration: none; }
  a:hover {
    color: brown; }

.texto3 {
  background-color: orange; }
  .texto3--texto {
    font-size: 20px;
    weight: bold; }

footer {
  background-color: rgb(236, 175, 8);
  padding: 40px; }

header {
  width: 320px; }

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  body h1 {
    font-size: 30px; } }

.colorPrimario {
  color: blue; }

.colorSecundario {
  color: #eeccff; }

.colorBlack {
  color: black; }

.colorWhite {
  color: white; }

div.encabezado {
  color: red;
  text-align: center;
  font-size: 35px; }

.boton, .boton-aceptar, .boton-cancelar {
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px; }

.boton-aceptar {
  background-color: blue;
  color: white;
  border: 1px solid lightblue;
  padding: 5px; }

.boton-cancelar {
  background-color: red;
  color: white;
  border: 1px solid red; }

div {
  color: rgb(32, 4, 4);
  background-color: rgb(241, 241, 159);
  font-size: 40px; }
