.card {
  margin: auto;
}

header div {
  padding: 10px;
  grid-area: logo;
}

header div h3 {
  font-size: 30px;
}

header nav {
  grid-area: nav;
}

ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

ul:hover {
  color: rgb(53, 39, 15);
}

li {
  list-style-type: unset;
}

.row{
  width: 100%;
  margin: 0;
}

.col-lg-12{
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: brown;
}

.h2, h2 {
  font-size: 1.8rem;
}

.h5, h5{
  color:#ffffff;
}

.texto3 {
  background-color: orange;
}

.texto3--texto {
  font-size: 20px;
  weight: bold;
}

.colorPrimario {
  color: blue;
}

.colorSecundario {
  color: #eeccff;
}

.colorBlack {
  color: black;
}

.colorWhite {
  color: white;
}

.carousel-item {
  height: 45rem;
}

@media only screen and (max-width: 469px) {
  body h1 {
    font-size: 30px;
  }
  .carousel-item{
    height: inherit;
  }
}





